{% extends "index.html" %}
{% block titulo %}Agregar Cliente{% endblock %}
{% block contenido %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-one-third">
                    <h3 class="is-size-3">Agregar Cliente</h3>
                    <form action="{{url_for('save_cliente')}}" method="post">

                        <label for="name">Nombre Cliente:</label>
                        <input required type="date" class="form-control" placeholder="Nombre del Cliente" name="name" id="name">

                        <label for="name">Status del Cliente:</label>
                        <input required type="number" class="form-control" placeholder="Status del Cliente" name="status" id="status">

                        <label for="name">Mobile:</label>
                        <input required type="number" class="form-control" placeholder="Mobile" name="mobile" id="mobile">

                        <br>
                        <button type="submit" class="btn btn-success">Guardar C</button>
                        <a href="{{url_for('pagina')}}" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}